body {
  font: 40px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #f5f5f5;
  color: #4d4d4d;
  font-weight: 300;
  line-height: 150%;
}


#info {
  text-align: center;
  margin-bottom: -60px;
}

#info h1{
  font: 60px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #b7b7b7;
  font-weight: 100;
  line-height: 150%;
  text-align: center;
  text-indent: 45px;
  /*opacity: 0.3;*/
}

#info #github {
  margin-left: 20px;
  font: 15px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  opacity: 1;
}

.myMenu {
  border-radius: 30px;
  background-color: rgb(240, 240, 232);
  width: 60px;
  height: 60px;
  cursor:pointer;
  margin: 5px;
  position: relative;
}

.myItem {
  margin: 5px;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #FF6969;
}

.myIcon {
  margin: 5px;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  /*overflow: hidden;*/
}

.myItem:hover, .myIcon:hover {
  box-shadow: 0 0 4px 0 rgba(0,0,0,.4), 0 0 10px 0 rgba(0,0,0,.04);
}


.caption {
    background: #002040;
    opacity: 0;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
}

.caption:hover {
    opacity: 0.6;
}

.caption:hover .caption-content{
    opacity: 1;
}

.caption-content {
    position: absolute;
    width: 196px;
    height: 50px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    top: 50%;
    margin-top: -20px;
}